/**Fichier exemple pour créer son propre fichier env **
 * 
 * 1. Copier ce fichier et le renommer en .env
 * 2. Modifier les valeurs des variables d'environnement selon vos besoins
 * 3. Ne pas oublier de ne pas commiter votre fichier .env dans le dépôt git
 *    (ajouter .env à votre fichier .gitignore)
 * 
 * Variables d'environnement :
 * 
 * - PORT : Le port sur lequel votre application va écouter (ex: 3000)
 * - DB_HOST : L'adresse de votre base de données (ex: localhost)
 * - DB_USER : Le nom d'utilisateur pour accéder à la base de données (ex: root)
 * - DB_PASSWORD : Le mot de passe pour accéder à la base de données (ex: password)
 * - DB_NAME : Le nom de la base de données (ex: my_database)
 */